body {
  background-image: url("1.jpg");
  background-size: auto;
  background-color: #19456b;
}

h1 {
  color: #16c79a;
  text-align: center;
  font-size: 50px;
}

p {
  color: #16c79a;
  font-size: 26px;
  text-align: center;
}
